body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url("fondo-pista.jpg") center/cover no-repeat fixed;
  color: white;
}

#login, #app {
  position:relative;
  z-index:1;
}

.overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.4);
  z-index:0;
  pointer-events:none;   /* 👈 ESTO ES LA CLAVE */
}

.card {
  position: relative;
  z-index: 1;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

.login-card {
  width: 350px;
  margin: 120px auto;
  text-align: center;
}

.logo {
  width: 90px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.reserva-card {
  width: 900px;
  margin: 30px auto;
}

.section {
  margin-bottom: 25px;
}

.fechas-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.fecha-btn {
  width: 70px;
  height: 90px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: rgba(255,255,255,0.1);
  color: white;
}

.fecha-btn.seleccionado {
  background: #2e6cff;
}

.pistas button {
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  background: rgba(255,255,255,0.1);
  color: white;
}

.pistas button.seleccionado {
  background: #2e6cff;
}

.horas-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.hora-btn {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: rgba(255,255,255,0.1);
  color: white;
}

.hora-btn.seleccionado {
  background: #2e6cff;
}

.hora-btn.ocupado {
  background: rgba(255,255,255,0.2);
  opacity: 0.4;
  cursor: not-allowed;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #2e6cff;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.secondary-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.confirmar {
  margin-top: 20px;
}


.reserva-linea{
  display:grid;
  grid-template-columns: 2fr 1fr 1fr auto;
  align-items:center;
  gap:10px;
  background:rgba(255,255,255,0.08);
  padding:10px 14px;
  border-radius:8px;
  margin-bottom:8px;
  font-size:14px;
}

.res-fecha{
  text-transform:capitalize;
}

.res-hora{
  font-weight:500;
}

.res-pista{
  font-weight:600;
}

.cancelar-btn{
  background:#ff4d4d;
  border:none;
  padding:6px 12px;
  border-radius:6px;
  color:white;
  cursor:pointer;
}
